# Personal
.heroku
.travis
.ssh/*
!.ssh/config
Keys/
Puppet/
.irb_history
History.xml

# Ruby
Gemfile.lock
*.gem
/.gem/
.bundle

.yardoc/
_yardoc/
doc/
rdoc/

# Vagrant
.vagrant.d
.vagrant

# Project files
*.sublime-project
*.sublime-workspace
*.tmproj
*.tmproject

# Operating systems
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
.Spotlight-V100
.Trashes
$RECYCLE.BIN/
._*
*~

# Android
*.apk
*.ap_
*.dex
*.class

# Visual Studio
*.suo
*.user
*.sln.docstates
*.obj
*.pdb

# Build results
Debug/
DebugPublic/
Release/
x64/
build/
bld/

# Cloud9
.c9revisions
.c9