Gemfile.lock
*.gem
/.gem/

.ssh
!.ssh/config
Keys/

.bundle

.yardoc/
_yardoc/
doc/
rdoc/

*.sublime-project
*.sublime-workspace

Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
$RECYCLE.BIN/

.irb_history
History.xml

# Android
*.apk
*.ap_
*.dex
*.class

# Visual Studio
*.suo
*.user
*.sln.docstates
*.obj
*.pdb

# Build results
Debug/
DebugPublic/
Release/
x64/
build/
bld/
obj/